.custom-dots {
  bottom: 20px !important;
  z-index: 10;
  transform: translateY(10px);

  @media screen and (min-width: 768px) {
    transform: translateY(5px);
  }

  li {
    height: fit-content;
    margin: 0 4px 0 0;
    width: 16px;

    @media screen and (min-width: 768px) {
      margin-right: 8px;
      width: 28px;
    }

    button {
      width: 100%;
      height: 4px;
      padding: 0;
      background-color: #ffffff99;
      border-radius: 20px;

      &:before {
        display: none;
      }
    }

    &.slick-active {
      button {
        background-color: #facc15;
        opacity: 1;
      }
    }
  }
}
